{% extends 'website/base_template.html' %}

{% block content %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">

   <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <!-- Section-->

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src='{{ product.image.url }}' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    {{ product.price }} руб.
                                </div>
                            </div>

                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <a href="{{ product.get_add_url }}">
                                    <div class="text-center mb-3"><button class="btn btn-danger">Добавить в корзину</button></div>
                                </a>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url }}">Подробнее</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>


        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        {% for category in categories %}
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">{{ category.title }}</a></li>
                            </ul>
                    </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
        </div>
{% endblock %}